.profile {
  padding-top: 50px;

  img {
    border-radius: 50%;
    max-width: 230px;
    margin-right: 20px;
  }

  .alias {
    padding-top: 20px;
    font-weight: bold;
    font-size: 240%;

    .favorite {
      svg {
        cursor: pointer;
        margin-left: 15px;
        width: 36px;
      }
    }
  }

  .joined {
    color: #666;
    font-size: 90%;
    display: inline-block;
    margin-bottom: 5px;
  }

  .name {
    font-weight: bold;
    font-size: 290%;
    color: #666
  }

  .stats {
    margin-top: 50px;
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    width: 90%;
    color: #444;

  }

  .stats > a {
    position: relative;
    flex: 1 1 auto;
    font-size: 90%;
    display: block;

    &:hover {
      text-decoration: none;
    }
  }

  .stats svg {
    width: 64px;
    fill: #666666;
  }
}