header .dropdown {
  img {
    border-radius: 50%;
    width: 24px;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .navbar a svg {
    margin-right: 5px;
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler svg {
    fill: #fff;
    width: 24px;
  }
}
