@import "~bootstrap/scss/bootstrap";

.profile-list {
  padding: 10px 50px;

  .card-columns {
    width: 100%;
  }

  .no-records {
    color: #777;
    text-align: center;
    margin: 0 auto;
  }

  .card-columns {
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
    @include media-breakpoint-only(lg) {
      column-count: 3;
    }
    @include media-breakpoint-only(md) {
      column-count: 2;
    }
    @include media-breakpoint-only(sm) {
      column-count: 2;
    }
  }
}
