.profile-preview {
  cursor: pointer;

  * {
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }

  &:hover {
    background-color: #f0f0f0;
  }

  .index {
    margin: 5px 0 0 5px;
    font-size: 80%;
    color: #888;
  }

  img {
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    width: 50%;
    padding-top: 15px;
    cursor: pointer;
    max-width: 150px;
  }

  .stats {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    width: 90%;
    color: #444;

  }

  .stats > div {
    position: relative;
    flex: 1 1 auto;
    font-size: 90%;
  }

  .stats svg {
    width: 36px;
    fill: #666666;
  }

  .stats .count {
    font-size: 150%;
  }

  .favorite {
    text-align: right;
  }

  .favorite svg {
    width: 32px;
    cursor: pointer;
  }

  .bio {
    color: #444;
    font-size: 90%;
  }

  .alias {
    font-weight: bold;
    text-align: center;
    font-size: 120%;
    margin-top: 5px;
    cursor: pointer;
  }

  .name {
    font-weight: bold;
    text-align: center;
    font-size: 110%;
    cursor: pointer;
    color: #666;
  }

  .registered {
    color: #666;
    font-size: 90%;
  }

  .loading svg {
    width: 50px;
    margin: 30px auto;
    display: block;
  }

  .reload {
    width: 80%;
    margin: 15px auto 0;
    text-align: center;
    cursor: pointer;
    color: #f8584d;

    &:hover {
      color: darken(#f8584d, 30%);

      svg {
        fill: darken(#f8584d, 30%);
      }
    }

    svg {
      width: 50px;
      margin: 15px auto 30px;
      display: block;
      fill: #f88275;
    }
  }

  .footer {
    padding: 1rem;
  }
}